{% load static %}
<div class="left-side">
   <div class="profileText">
      <div class="imgBx">
         <img src="{%static 'resume/images/ramish.jpg' %}">
      </div>
      <h2>Ramish Benoit<br><span>Web Developer</span></h2>
   </div>
   <div class="contactInfo">
       <h3 class="title">Contact Info</h3>
       <ul>
           
           <li>
               <span class="icon"><i class="fas fa-phone-alt"></i></span>
               <span class="text">+237 672-039-836</span>
           </li>
           <li>
                <span class="icon"><i class="far fa-envelope"></i></span>
                <span class="text">lottinbudzi12@gmail.com</span>
          </li>
          <li>
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                <span class="text">www.linkin.com/me</span>
          </li>  
          <li>
            <span class="icon"><i class="fas fa-globe-africa"></i></span>
            <span class="text">Buea, Cameroon</span>
        </li>
       </ul>
   </div>
   <div class="contactInfo education">
    <h3 class="title">Education</h3>
    <ul>
       <li>
           <h5>2009 - 2013</h5>
           <h4> Ordinary Level</h4>
           <h4>CBC School Mile 16</h4>
       </li> 
       <li>
        <h5>2013 - 2015</h5>
        <h4> Advanced Level</h4>
        <h4>GSS Bolifamba</h4>
    </li>
    </ul>
</div>

<div class="contactInfo language">
    <h3 class="title">languages</h3>
    <ul>
       <li>
           <span class="text">English</span>
           <span class="percent"><div style="width: 90%;"></div></span>
       </li>
       <li>
            <span class="text">French</span>
            <span class="percent"><div style="width: 30%;"></div></span>
       </li>
       
    </ul>
</div>

</div>